@import "../../../../reset.css";

body{
  margin: 0;
  padding:0;
  color:#ccc;
  background-color: #000;
  font-family: Arial, Arial, Helvetica, sans-serif;

  -webkit-touch-callout:none;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}

.beginDiv, .genderDiv, .nameDiv, .dateDiv, .phoneDiv, .overlay, .moDiv{
  display: none;
}

.display{
  display: block;
}

.button, .button3{
  font-size: 18px;
  background-color: #9D2257;
  background: linear-gradient(#F00B6C,#9D2257);
  border-radius: 50px;
  color: white;
  cursor: pointer;
  display: block;
  min-width: 30px;
  box-sizing: border-box;
  width: 100%;
  max-width: 250px;
  height: 50px;
  margin: 0px auto;
  font-weight: bold;
  box-shadow: 0px 2px 5px #9c9090;
}

.button3{
  max-width: 280px;
  font-size: 22px;
}

/*mo designs start*/

a{
  text-decoration: none;
}

.keyword, .shortcode{
  color: rgb(62, 6, 159);
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  animation: flash 3s infinite; 
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}


.keys{
  font-size: 22px;
  color: #000;
  text-align: center;
}

.tag1{
  font-size: 14px;
  color: #000;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.or{
  font-size: 22px;
  color: #000;
  text-align: center;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 10px;
}

.moHead{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.timer{
  color: red;
  font-size: 22px;
  font-weight: bold;
}
/*mo designs end*/

.button1{
  background-image: url('../imgs/male.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 110px;
  height: 110px;
  background-color: white;
  border: none;
}

.button2{
  background-image: url('../imgs/female.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 110px;
  height: 110px;
  background-color: white;
  border: none;
}

.btnGender{
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.gend{
  display: flex;
  justify-content: space-around;
}

.male, .female{
  color: #000;
  font-size: 16px;
  font-weight: bold;

}

.fat1{
  height: 60px;
  font-size: 22px;
  max-width: 250px;
}

.container{
  display: block;
  margin: 0 auto;
  position: relative;
  max-width: 1020px;
  min-height: 670px;
  background-image: url('../imgs/heartBG1.jpg');
  background-repeat: no-repeat;
}

.boxTitles{
  font-family: 'Arial';
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.boxFont{
  font-size: 16px;
}

.form1{
  padding-top: 10px;
}

.entryTitle{
  text-align: left;
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.smallTitle{
  color: #000;
  font-size: 16px;
  text-align: center;
  margin: 30px auto 15px;
}

.firstHead{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.whiteBox{
  background-color: white;
  display: block;
  width: 100%;
  max-width: 310px;
  height: 220px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px !important;
}

.bigBox{
  height: 265px;
}

.header{
  background: linear-gradient(#028D9F, #22BCBC);
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.creative{
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 250px;
  min-height: 239px;
  background-image: url('../imgs/couples2.png');
  background-size: contain;
  background-repeat: no-repeat;

  .title{
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 154px;
    right: -17px;
    width: 100%;
    max-width: 250px;
    height: 110px;
    background-image: url('../imgs/LVlogo.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.stamp{
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: 12px;
  width: 100%;
  max-width: 110px;
  height: 75px;
  background-image: url('../imgs/stamp21.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-10deg);
}

.c-input-name{
  padding-bottom: 10px;
}

.labelStyle{
  color: black;
  padding-left: 10px;
  padding-bottom: 4px;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

/*for text form*/
.inputStyle1{
  width: 100%;
  max-width: 280px;
  min-width: 200px;
  padding-left: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  border: 1px solid #9c9090;
  display: block;
  margin: 0 auto;
}

/*for date*/
.inputStyle2{
  width: 100%;
  max-width: 280px;
  min-width: 200px;
  padding-left: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  border: 1px solid #9c9090;
  display: block;
  margin: 0 auto;
  background-color: white;
  
}

.customTesti{
  background-color: rgba(27, 4, 4, 0.55) !important;
}

.customTesti.testi {
  width: auto;
  margin: auto;
  max-width: 300px;
  direction: ltr;
  margin-top: 10px;
}

.customTesti.testi ul li .details .rating span {
  color: white;
}

.customTesti.testi ul li .avatar {
  width: 60px;
  height: 60px;
}

.customTesti.testi ul li .details .rating {
  margin-left: 60px;
}

.customTesti.testi ul li::after {
  right: 16px;
  font-size: 16px;
}

.customTesti.testi ul li .avatar.person1 {
  background-image: url("../imgs/photo1.png");
}

.customTesti.testi ul li .avatar.person2 {
  background-image: url("../imgs/photo2.png");
}

.customTesti.testi ul li .avatar.person3 {
  background-image: url("../imgs/photo3.png");
}

.customTesti.testi ul li .details .message, .customTesti.testi ul li .details .rating span  {
  font-size: 14px;
}

.rating {
  position: absolute;
  height: 0;
}

.rating img {
  width: 100%;
  top: -12px;
  position: relative;
  left: 0;
  right: 0;
  max-width: 452px;
  margin-top: -17%;
}

.rating-text {
  position: relative;
  margin-top: -12px;
  font-size: 14px;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  height: 40%;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 30px;
}

.tagline{
  color: white;
  font-size: 18px;
  padding: 10px 30px;
  position: absolute;
  bottom: 10px;
}

.disclaimer{
  margin: 60px auto;
  width: 100%;
  max-width: 310px;
  color: gray;
  font-size: 20px;
}

.disclaimer span{
  font-size: 24px;
  color: yellow;
}

.App{
  padding-left: 10px;
}

.country-code{
  display: none;
}

.msisdn-input{
  padding-left: 60px !important;
  min-width: 260px;
  margin: 10px auto !important;
}
