.brand{
  display: block;
  max-width: 200px;
  height: 90px;
}

.brand img{
  width: 100%;
}

h5{
  color: white;
  font-size: 14px;
  text-align: center;
}

a{
  color: #feba19;
  font-size: 11px;
  text-align: center;
}