.root {
  background-image: url('./landing-pages/first/dog.jpg');
  background-color:red;
  background-size: cover;
  background-blend-mode: screen;
  transition: all .5s;
}

h1 {
  background-image: url('./landing-pages/first/cat.jpeg');
}