
.toplegal{
	left: 0;
	right: 0;
	margin: 0;
	display: block;
	max-width: 1020px;
	height: 18px;
	padding: 3px 3px;
	position:relative;
	background-color:#5445f9;
}

.LEGAL_TEXT_TOP{
	margin:0px;
	font-size: 8px;
	color: #8379f7;
	text-align: left;
}

.exitBtn{
	z-index: 2;
	top: 4px;
	right:4px;
	margin-top: 0;
	position: absolute;
	color:#7164f7;
	font-size:12px;
	font-weight:200;
	padding:2px 5px;
	text-align: center;
	border-radius: 2px;
	text-decoration: none;
    background-color:#3b2ce2;
	border:0;
	text-decoration:none;
}
