module.exports = {
  apps : [{
    name: "os-ui-server",
    script: ".dist/src/index.js",
    env: {
      NODE_ENV: "production",
      root: "http://mobirun.s3.amazonaws.com/os-ui/",
      osui_connection_string: "postgresql://localhost/os-ui",
    }
  }]
}