
@font-face {
	font-family: 'Kaushan Script';
	font-style: normal;
	font-weight: 400;
	src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v6/vm8vdRfvXFLG3OLnsO15WYS5DG74wNJVMJ8b.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
	margin:0;
	padding:0;
	background-color: #011222;
	font-family: Arial, Helvetica, sans-serif;
	
	-webkit-touch-callout:none;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}


	
.container{
	z-index: -1;
	display: block;
	margin: 0px auto;
	padding-bottom: 21px;
	max-width: 1020px;
	min-height: 680px;
	background-repeat: no-repeat;
	background-size: 1020px 680px;
	background-position: 50%;
	background-image: url('./imgs/homeyogabg.jpg');
	overflow: hidden;

}


.creative{
	width: 300px;
    max-width: 460px;
    margin: 0 auto;
    min-height: 268px;
    display: block;
    position: relative;
    overflow: hidden;
}


.logo{
    left: 38%;
    width: 85px;
    height: 41px;
    position: relative;
    background-size: 100%;
    background-image: url('./imgs/logo.png');
    
}

.toptitle{
	color: #fff;
    font-family: 'Helvetica', bold;
    font-weight: bold;
    top: 28px;
    z-index: 2;
    position: absolute;
    right: 1px;
    font-size: 29px;
    text-shadow: 1px 1px #0000005e;
}

.time{
	top: 42px;
    left: -4px;
    margin: 0;
    padding: 0;
    z-index: 1;
    height: 69px;
    width: 58px;
    position: absolute;
    background-size: 100% auto;
	background-image: url('./imgs/time.png');

}


.text{
	width: 245px;
    height: 24px;
    margin-top: 40px;
    font-family: 'Kaushan Script', cursive;
    font-size: 16px;
    color: #fff;
    margin-left: 56px;
    display: block;
    text-align: center;
    border-radius: 2px;
    font-style: normal;
    background-color: #e0389e;

}



.SubscribeBtn{
	top: 166px;
    color: #fff;
	width: 83%;
	max-width: 400px;
    z-index: 2;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 24px 10px;
    position: relative;
    text-align: center;
    border-radius: 11px;
    text-decoration: none;
    text-transform: uppercase;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3fa9fa), to(#1580eb));
    background-image: linear-gradient(to bottom, #3fa9fa 0%, #1580eb 100%);
    box-shadow: inset 0px -3px 0px #4b9fe6;
    border: 2px #000;
}


.ConfirmBtn{
	top: 166px;
    color: #fff;
	width: 83%;
	max-width: 400px;
    z-index: 2;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 24px 10px;
    position: relative;
    text-align: center;
    border-radius: 11px;
    text-decoration: none;
    text-transform: uppercase;
	background: linear-gradient(to bottom, rgba(78,168,5,1) 0%, rgba(49,105,0,1) 100%);
    box-shadow: inset 0px -2px 0px #4ea805;
    border: 2px #000;
}



.disclaimer{
	color:#9d9d9d;
	display: block;
	font-size: 12px;
	max-width: 620px;
	text-align: center;
	margin:0 auto;
    padding: 5px 25px 0px 25px;
}

.links{
	padding:10px;
	margin:0 auto;
	font-size: 12px;
	display: block;
	font-weight: bold;
	position: relative;
	
}

.align-left,
.align-right{
	top:0;
	position: absolute;
	display:inline-block;
	text-decoration:none;
	color:rgb(119, 119, 119);
}
   
.align-left{
	left:0;
	
}

.align-right{
	right:0;
}

.wrap{
    background-color: rgba(11, 16, 21, 0.36);
	border-radius: 9px;
    margin: 20px auto 0 auto;
    width: 93%;
    height: 174px;
	max-width: 460px;
	
	p{
		z-index: 2;
		padding: 4px 39px;
		font-size: 13px;
        line-height: 1.4;
        text-align: center;
		color: #fff;
		background-color: #00000063;
		height: 39px;
		border-radius: 10px 10px 0 0;

	}

	.price{

		margin-top: -5px;
		font-size: 12px;
		color: #c1c1c1;
		text-align: center;

	}

	.undertext{
		margin-top: 84px;
		font-size: 9px;
		color: #c1c1c1;
		text-align: center;

	}


	
}

